<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "bicycle.index" class="btn-back"}}
      <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>Model "{{model.brand}}"</h3>
        <div class="actions">
          {{#link-to "bicycle.edit" model.id class="btn-pop"}}
            edit
          {{/link-to}}

          <button class="btn-recessed" onclick={{action "deleteBicycle" model}}>delete</button>
        </div>       
      </div>
      <div class="details">
        <p>
          <strong>Rent is</strong> 
          {{model.pricePerHour}}$ per hour
        </p>        
      </div>
    </div>

    <div class="slide-out-content">
      <div class="title">
        <h3>Number of rides for this bike: {{model.trips.length}}</h3>
      </div>

      <div class="actions">
        {{#link-to "bicycle.detail.new-trip" model.id class="btn-secondary btn-add"}}
          Add a trip
        {{/link-to}}
      </div>
      <ul class="book-list">
        {{#each model.trips as |trip|}}
          <li class="book">
            <p class="book-title">
              {{trip.rentPoint}}
            </p>
            <p class="book-isbn">
              {{trip.rentHours}}
            </p>
            <p>
              {{trip.rentDate}}
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{outlet}}